/build
/.flatpak-builder

/debian/.debhelper
/debian/com.github.rajsolai.response.debhelper.log
/debian/com.github.rajsolai.response.substvars
/debian/com.github.rajsolai.response
/debian/files

com.github.rajsolai.response.yml